{% extends 'orders/base.html' %}
{% load static %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}

{% block css %}
<link href="{% static 'vendor/css/list.css' %}">
{% endblock %}

{% block content %}

<style>


h1{
  color: black;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  padding-top:14vh;
  padding-left:18vw;
  position:relative;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.steps{
         min-width: 406px;
    height: 442px;
    top: 60%;
    left: 80%;
    right: 0px;
    margin: 0px 20px;
    position: absolute;
    transform: translate(-50%, -50%);
 border: 2px solid #ccc;
  padding: 20px;
   overflow-y: auto;
    margin-bottom: 20px;
    background-color:#416282;
    border-radius: calc(0.65rem - 1px) calc(0.65rem - 1px) calc(0.65rem - 1px) calc(0.65rem - 1px);
}

/* Обновите следующие CSS свойства для настройки полосы прокрутки */
.steps::-webkit-scrollbar {
  width: 10px; /* Измените ширину по вашему усмотрению */
}

.steps::-webkit-scrollbar-track {
  background: #f1f1f1; /* Задайте цвет фона для полосы прокрутки */
  calc(0.65rem - 1px) calc(0.65rem - 1px) calc(0.65rem - 1px) calc(0.65rem - 1px);
}

.steps::-webkit-scrollbar-thumb {
  background: #6d6d6d; /* Задайте цвет для ползунка полосы прокрутки */
  calc(0.65rem - 1px) calc(0.65rem - 1px) calc(0.65rem - 1px) calc(0.65rem - 1px);
}

input[type=checkbox] {
  display: none;
}

.ui-sortable-placeholder{
  border: 1px dotted #fff;
  padding: 30px 20px;
  position: relative;
}

.ui-sortable-placeholder:after{

  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: auto;
  color: #fff;
  text-align: center;
}
 #sortable li.center-message {
    text-align: center;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 150px;
  }

label{
  background: #34495E;
      height: 128px;
    width: 361px;
  display: block;
  border-bottom: 1px solid #2C3E50;
  color: #fff;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 11px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.7s ease;
  position: relative;
  padding: 5px 5px 5px 70px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  word-break: break-word;
  border-radius: calc(0.65rem - 1px) calc(0.65rem - 1px) calc(0.65rem - 1px) calc(0.65rem - 1px);
}


label h2 span{
  display: block;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: normal;
  color: #bdc3c7;
}

label:before{
  content:"";
  width: 19px;
  height: 19px;
  border: 1px solid #416282;
  display: block;
  position: absolute;
  border-radius: 100%;
  left: 20px;
  top: 30%;
  transition: border 0.7s ease;
  z-index: 9999;
  border-radius: calc(0.65rem - 1px) calc(0.65rem - 1px) calc(0.65rem - 1px) calc(0.65rem - 1px);
}

label:after{
  content: "";
  width: 55px;
  height: 127px;
  background: #2C3E50;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: calc(0.65rem - 1px) calc(0.65rem - 1px) calc(0.65rem - 1px) calc(0.65rem - 1px);
}


#label-1:checked ~ label[for=label-1],
#label-2:checked ~ label[for=label-2],
#label-3:checked ~ label[for=label-3],
#label-4:checked ~ label[for=label-4],
#label-5:checked ~ label[for=label-5],
#label-6:checked ~ label[for=label-6],
#label-7:checked ~ label[for=label-7],
#label-8:checked ~ label[for=label-8],
#label-9:checked ~ label[for=label-9],
#label-10:checked ~ label[for=label-10],
#label-11:checked ~ label[for=label-11],
#label-12:checked ~ label[for=label-12],
#label-13:checked ~ label[for=label-13],
#label-14:checked ~ label[for=label-14],
#label-15:checked ~ label[for=label-15],
#label-16:checked ~ label[for=label-16],
#label-17:checked ~ label[for=label-17],
#label-18:checked ~ label[for=label-18],
#label-19:checked ~ label[for=label-19],
#label-20:checked ~ label[for=label-20]{
  background: #2C3E50;
  border-bottom: 1px solid #34495E;
  color: #1ABC9C;
}

#label-1:checked ~ label[for=label-1] h2 span,
#label-2:checked ~ label[for=label-2] h2 span,
#label-3:checked ~ label[for=label-3] h2 span,
#label-4:checked ~ label[for=label-4] h2 span,
#label-5:checked ~ label[for=label-5] h2 span,
#label-6:checked ~ label[for=label-6] h2 span,
#label-7:checked ~ label[for=label-7] h2 span,
#label-8:checked ~ label[for=label-8] h2 span,
#label-9:checked ~ label[for=label-9] h2 span,
#label-10:checked ~ label[for=label-10] h2 span,
#label-11:checked ~ label[for=label-11] h2 span,
#label-12:checked ~ label[for=label-12] h2 span,
#label-13:checked ~ label[for=label-13] h2 span,
#label-14:checked ~ label[for=label-14] h2 span,
#label-15:checked ~ label[for=label-15] h2 span,
#label-16:checked ~ label[for=label-16] h2 span,
#label-17:checked ~ label[for=label-17] h2 span,
#label-18:checked ~ label[for=label-18] h2 span,
#label-19:checked ~ label[for=label-19] h2 span,
#label-20:checked ~ label[for=label-20] h2 span{
  color: #1ABC9C;
}



#label-1:checked ~ label[for=label-1]:before,
#label-2:checked ~ label[for=label-2]:before,
#label-3:checked ~ label[for=label-3]:before,
#label-4:checked ~ label[for=label-4]:before,
#label-5:checked ~ label[for=label-5]:before,
#label-6:checked ~ label[for=label-6]:before,
#label-7:checked ~ label[for=label-7]:before,
#label-8:checked ~ label[for=label-8]:before,
#label-9:checked ~ label[for=label-9]:before,
#label-10:checked ~ label[for=label-10]:before,
#label-11:checked ~ label[for=label-11]:before,
#label-12:checked ~ label[for=label-12]:before,
#label-13:checked ~ label[for=label-13]:before,
#label-14:checked ~ label[for=label-14]:before,
#label-15:checked ~ label[for=label-15]:before,
#label-16:checked ~ label[for=label-16]:before,
#label-17:checked ~ label[for=label-17]:before,
#label-18:checked ~ label[for=label-18]:before,
#label-19:checked ~ label[for=label-19]:before,
#label-20:checked ~ label[for=label-20]:before{
  background: url("https://designmodo.github.io/Flat-UI/images/todo/done.png") no-repeat center center;
  border: 1px solid #1abc9d;
}

li:first-child label{
  height: 200px;
  text-transform: uppercase;
  font-size: 15px;
  border-right: 8px solid #f52f2f;
  padding-top: 8%;
}


li:first-child label:before{
  top: 40%;
}

li:first-child label:after{
  height: 200px;
}

li:nth-child(2) label{
  border-right: 8px solid #ff6d49;
}

li:nth-child(3) label{
  border-right: 8px solid #ff8349;
}

li:nth-child(4) label{
  border-right: 8px solid #faa63e;
}
li:nth-child(5) label{
  border-right: 8px solid #fac23e;
}
li:nth-child(6) label{
  border-right: 8px solid #fad13e;
}
li:nth-child(7) label{
  border-right: 8px solid #fae13e;
}
li:nth-child(8) label{
  border-right: 8px solid #e1fa3e;
}
li:nth-child(9) label{
  border-right: 8px solid #c2fa3e;
}
li:nth-child(10) label{
  border-right: 8px solid #9ffa3e;
}
li:nth-child(11) label{
  border-right: 8px solid #74fa3e;
}
li:nth-child(12) label{
  border-right: 8px solid #3efa5b;
}
li:nth-child(13) label{
  border-right: 8px solid #3efa86;
}
li:nth-child(14) label{
  border-right: 8px solid #3efaa6;
}
li:nth-child(15) label{
  border-right: 8px solid #3eface;
}
li:nth-child(16) label{
  border-right: 8px solid #3e57fa;
}
li:nth-child(17) label{
  border-right: 8px solid #453efa;
}
li:nth-child(18) label{
  border-right: 8px solid #6a3efa;
}
li:nth-child(19) label{
  border-right: 8px solid #863efa;
}

li:last-child label{
  border-right: 8px solid #a63efa;
}
.forma{
      width: 406px;
    height: 442px;
    top: 60%;
     display: flex;
  flex-direction: column;
    left: 36%;
    right: 0px;
    margin: 0px 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 2px solid #ccc;
    padding: 20px;
    overflow-y: auto;
    margin-bottom: 20px;
    border-radius: calc(0.65rem - 1px) calc(0.65rem - 1px) calc(0.65rem - 1px) calc(0.65rem - 1px);
    background-color:#00a86b;
}
.forma span.label {
  margin-bottom: 10px;
}

.forma input.input {
  height: 30px; /* Измените высоту по вашему усмотрению */
  width: 200px; /* Измените ширину по вашему усмотрению */
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f1f1f1;
  margin: 0 auto;

}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.username-label {
  font-size: 1.1rem;
 margin-bottom: 0.8rem;
   margin-top: 0.8rem;
}

.email-label {
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
   margin-top: 0.8rem;
}
 .task-count {
            width: 80px;
            height: 80px;
            border: 2px solid black;
            padding: 20px;
            font-weight: bold;
           margin-left: 10px;
            margin-top: 20px;
             justify-content: center;
            align-items: center;
            font-size:1.3rem;
   display: inline-block;
            text-align: center;
            border-radius: calc(0.45rem - 1px) calc(0.45rem - 1px) calc(0.45rem - 1px) calc(0.45rem - 1px);


        }

        .task-count span {
            display: inline-block;
            padding: 10px;
            background-color: yellow;
            font-weight: bold;
            font-size: 28px;

        }
</style>


<h1 style="min-height: 2rem;">Добро пожаловать, {{ user.username }}!</h1>



<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Подключите остальные файлы Bootstrap, если требуется -->

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
  $(function() {
    $("#sortable").sortable();
  });



</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
<script>
$(document).ready(function() {
  function displayTasksWithinWeek() {
    // Определяем текущую дату
    var currentDate = new Date();

    // Функция для проверки, что срок выполнения задачи находится в пределах следующих 7 дней
    function isDeadlineWithinWeek(deadline) {
      var deadlineDate = new Date(deadline);
      var oneWeekLater = new Date(currentDate.getFullYear(), currentDate.getMonth(), currentDate.getDate() + 7);

      return deadlineDate >= currentDate && deadlineDate <= oneWeekLater;
    }

    // Скрываем все задачи
    $("#sortable li").hide();

    // Показываем только задачи, у которых срок выполнения находится в пределах следующих 7 дней
    $("#sortable li").each(function() {
      var deadlineText = $(this).find("span:contains('Срок выполнения:')").text();
      var deadlineMatch = deadlineText.match(/(\d{2})\.(\d{2})\.(\d{4})/);

      if (deadlineMatch) {
        var day = deadlineMatch[1];
        var month = deadlineMatch[2] - 1; // Месяцы в JavaScript начинаются с 0 (январь = 0, февраль = 1, и т.д.)
        var year = deadlineMatch[3];

        var deadline = new Date(year, month, day);

        // Проверяем, что срок выполнения задачи находится в пределах следующих 7 дней
        if (isDeadlineWithinWeek(deadline)) {
          $(this).show();
        }
      }
    });

    // Проверяем наличие задач и выводим соответствующий текст
    if ($("#sortable li:visible").length === 0) {
         $("#sortable").append("<li class='center-message'>На ближайшую неделю не запланированы задачи для выполнения.</li>");
    }
  }

  // Вызываем функцию для отображения задач на странице
  displayTasksWithinWeek();

  // Инициализируем сортировку элементов списка с помощью jQuery UI
  $("#sortable").sortable();
});

</script>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<div class="forma">
    <div class="avatar">
        <img src="{% if user.image %}{{ user.image.url }}{% else %}{% static 'vendor/img/users/default_avatar.jpg' %}{% endif %}" alt="Аватар пользователя">
    </div>
    <span class="username-label" for="username">Имя пользователя:</span>
    <input type="text" style="border-radius: calc(0.45rem - 1px) calc(0.45rem - 1px) calc(0.45rem - 1px) calc(0.45rem - 1px);" value="{{ user.username }}" readonly>
    <span class="email-label" for="email">Адрес электронной почты:</span>
    <input type="text" style="border-radius: calc(0.45rem - 1px) calc(0.45rem - 1px) calc(0.45rem - 1px) calc(0.45rem - 1px);"value="{{ user.email }}" readonly>
     <p style="  font-size: 1.1rem;
  margin-bottom: 0.625rem;
   margin-top: 0.625rem;
margin-left:3rem;"> Количество задач: <span class="task-count">{{ count }}</span></p>
</div>
<div class="steps">
    <ul id="sortable">
        {% for task in tasks %}
        <li>
            <input id='label-{{ task.id }}' type='checkbox'/>
            <label for='label-{{ task.id }}'>
                <h2 style="font-size:1.1rem;">{{ task.name }}

                    <span> Дата создания: {{ task.date|date:"d.m.Y" }}</span>
                    <span> Срок выполнения: {{ task.expired|date:"d.m.Y" }}</span>
                    <span> Статус задачи: {{ task.get_status_display }}</span>
                    <span> Описание задачи: {{ task.description }}</span>
                    <span> Исполнитель: {{ task.initiator }}</span>
                    <span>{{ task.file }}</span>
                </h2>

            </label>
        </li>
        {% endfor %}


    </ul>
</div>
</div>
</div>
</div>


{% endblock %}