{% extends 'products/base.html' %}
{% load humanize %}
{% load static %}

{% block css %}
<link href="{% static 'vendor/css/main.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<script src="{% static 'vendor/js/date.js' %}"></script>
<!-- Основное содержимое страницы -->
<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 180px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">Меню</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="{% url 'orders:main' %}" class="nav-link active" aria-current="page">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house"
                     viewBox="0 0 16 16">
                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                </svg>
                Главная
            </a>
        </li>
        <li>
            <a href="{% url 'orders:my-tasks' %}" class="nav-link link-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-list-task" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H2zM3 3H2v1h1V3z"/>
                    <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z"/>
                    <path fill-rule="evenodd"
                          d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H2zm1 .5H2v1h1v-1z"/>
                </svg>
                Мои задачи
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-envelope" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                </svg>
                Входящие
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
           data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{% static 'vendor/img/users/default_avatar.jpg'%}" alt="" class="rounded-circle me-2" width="32" height="32">
            <strong>Анна Дружина</strong>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
            <li><a class="dropdown-item" href="#">Задачу</a></li>
            <li><a class="dropdown-item" href="#">Проект</a></li>
            <li><a class="dropdown-item" href="#">Сообщение</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Выйти</a></li>
        </ul>
    </div>
</div>

<div class="content" ondragover="allowDrop(event)" ondrop="drop(event)">

    <h1 class="mt-5">Главная</h1>
    <p id="current-date"></p>
    <div class="form-container" ondragover="allowDrop(event)" ondrop="drop(event)">
        <div class="form-row">
            <div class="form" draggable="true" id="form1" ondragstart="dragStart(event, 'form1')">
                <h3><a href="{% url 'orders:my-tasks' %}">Мои задачи</a></h3>
                {% for task in tasks %}
                    <a href="#"><h5>{{ task.name }}</h5></a>
                    <p>{{ task.date }}</p><hr>
                {% endfor %}
                <div class="actions-button">
                    <img src="{% static 'vendor/img/three-dots.jpg' %}" onclick="toggleFormDropdown(event)">
                    <div class="form-dropdown-content" id="form-dropdown-content">
                        <a href="#" onclick="handleFormDropdownSelection('half')">Половина</a>
                        <a href="#" onclick="handleFormDropdownSelection('fullscreen')">Полный экран</a>
                        <a href="#" onclick="handleFormDropdownSelection('view-tasks')">Просмотр всех моих задач</a>
                        <a href="#" onclick="handleFormDropdownSelection('delete-widget')">Удалить виджет</a>
                    </div>
                </div>
            </div>

            <div class="form" draggable="true" id="form2" ondragstart="dragStart(event, 'form2')">
                <h3>Проекты</h3>
                <p>Здесь будут Ваши проекты</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
