{% extends 'orders/base.html' %}
{% load humanize %}
{% load static %}

{% block css %}
<!--<link href="{% static 'vendor/css/main.css' %}" rel="stylesheet">-->
<!--<link href="{% static 'vendor/css/tasks.css' %}" rel="stylesheet">-->
{% endblock %}

{% block content %}
<!-- SideBar -->

<div class="content">
    <h1>Мои задачи</h1>
    <ul class="horizontal-links">
        <li><a href="#" onclick="loadContent('list')">Список</a></li>
        <li><a href="{% url 'orders:board' %}" onclick="loadContent('board')">Доска</a></li>
        <li><a href="{% url 'orders:calender' %}" onclick="loadContent('calendar')">Календарь</a></li>
        <li><a href="#" onclick="loadContent('files')">Файлы</a></li>
    </ul>
    <div class="task-links"></div>
    <div id="task-content">
        {% for task in tasks %}
            <label>Название: <a href="#"><h5>{{ task.name }}</h5></a></label>
            <label>Дата создания: <p>{{ task.date }}</p></label>
            <label>Дата дедлайна: <p>{{ task.expired }}</p></label>
            <hr>
        {% endfor %}
        <!-- Здесь будет загружаться контент в зависимости от выбранной ссылки -->
    </div>
</div>
{% endblock %}
