{% extends 'users/base.html' %}

{% load static %}
{% block additional_css %}
    <link href="{% static 'vendor/css/login.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid" style="padding-left: 0;">

        <div class="row align-items-center">
             <div class="col-7 bg1"></div>


            <div class="col-4 mx-auto text-center" style="position: relative;">
                {% if messages or form.non_field_errors %}
                    <div class="alert
                    {% if messages %} alert-success {% else %} alert-warning {% endif %}
                     alert-dismissible fade show" role="alert"
                         style="margin-top: 50px;">
                        {% if messages %}
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        {% else %}
                            {{ form.non_field_errors }}
                        {% endif %}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header border-left border-right border-top custom-rounded ">
                        <h1 class="text-center font-weight-light my-3">Войти в KanbanPM</h1>
                    </div>
                    <div class="card-body border-left border-right border-top">
                        <form action="{% url 'users:login' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="small mb-1" for="{{ form.username.id_for_label }}">
                                    Адрес электронной почты
                                </label>
                                {{ form.username }}
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="{{ form.password.id_for_label }}">
                                    Пароль
                                </label>
                                {{ form.password }}
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                <a class="small" href="{% url 'users:password_reset' %}">Забыли пароль?</a>
                                <input class="btn btn-primary" type="submit" value="Авторизоваться">
                            </div>

                        </form>
                    </div>
                    <div class="card-footer text-center border-left border-right border-top ">
                        <div class="small">Нужен аккаунт?<a href="{% url 'users:registration' %}">
                            <u>Зарегистрируйся!</u></a></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}