{% extends 'users/base.html' %}
{% load static %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}

{% block additional_css %}
<link href="{% static 'vendor/css/login.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid" style="padding-left: 0;">

        <div class="row align-items-center">
            <div class="col-7 bg1"></div>


            <div class="col-4 mx-auto text-center" style="position: relative;">
                {% if messages or form.non_field_errors %}
                <div class="alert
                    {% if messages %} alert-success {% else %} alert-warning {% endif %}
                     alert-dismissible fade show" role="alert"
                     style="margin-top: 50px;">
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        {% else %}
                            {{ form.non_field_errors }}
                    {% endif %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header border-left border-right border-top custom-rounded ">
                        <h1 class="text-center font-weight-light my-3">Восстановление пароля</h1>
                    </div>
                    <div class="card-body border-left border-right border-top custom-rounded" style="border-radius: 0 0 calc(0.65rem - 1px) calc(0.65rem - 1px);">
                        <form action="{% url 'users:password_reset' %}" method="post">
                            {% csrf_token %}
                            <p style="font-size: 14px">Забыли пароль или потеряли доступ к профилю? Введите привязанную
                                к профилю эл. почту, мы отправим вам письмо со ссылкой для восстановления.</p>
                            <div class="form-group">
                                {{ form.as_p }}
                                <input class="btn btn-primary" type="submit" value="Отправить письмо">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}