{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'vendor/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <section>
        <!--    <div class="alert alert-light text-center" role="alert">-->
        <!--        Информационное сообщение-->



        <div class="container">

            <div class="row">

                <div class="col-lg-6">
                    <img class="image1" src="{% static 'vendor/img/background2.jpg'%}">
                    <img class="image" src="{% static 'vendor/img/background1.png'%}">

                    <h1 class="mt-5">KanbanPM</h1>
                    <p  style = "font-size:18px; ">
                        Визуализируйте рабочие процессы с помощью KanbanPM!
                        <br>Какую полезную информацию можно извлечь из такой визуализации:
                        <ul class="push">
                        <li>Внимание к незавершенным задачам</li>
                        <li>Гибкость планирования рабочих процессов</li>
                        <li>Контроль сроков выполнения</li>
                        <li>Фокусирование на задачах, наиболее приоритетных в данный момент</li>
                        <li>Группировка задач на основании статусов</li>
                        </ul>
                    </p>
                    <button id="start-purchase-btn" type="button" class="btn btn-lg">
                        <a id="start-purchase-link" href="{% url 'products:index' %}">
                            Начать работу
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
